.panel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 20px; */
    background-color: #1E1F22;
    height: 100vh;
  }
  
  .logo-container {
    margin-bottom: 20px;
  }
  
  .logo {
    width: 40px;
    height: auto;
  }
  
  .icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .dark-icon {
    height: 60px;
    margin-bottom: 10px; 
  }
  .user-container {
    margin-top: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .user-image {
    width: 32px;
    height: 32px;
    border-radius: 25%; 
    margin-bottom: 10px; 
  }
  
  .logout-icon {
    width: 24px;
    height: 24px;
    fill: #000; 
  }
  