.container {
  display: flex;
  width: 100%;
  margin: 0;
}

.component1 {
  flex: 0 0 5vw; 
}

.component2 {
  flex: 0 0 10vw; 
}

.component3 {
  flex: 1;
}

@media screen and (max-width: 767px) {
  .container {
    flex-wrap: wrap;
  }

  .component2,
  .component3 {
    flex-basis: 100%; 
  }

  .component1 {
    display: none;
  }
}
