.model {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #282A2E;
    padding: 20px;
    border-radius: 8px;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    align-items: center;
  }
  
  .modal-heading {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .modal-subheading {
    margin: 10px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: 70%;
  }
  
  .cards-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .card {
    background-color: #3F424A;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    box-sizing: border-box;
  }
  .card-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .card-heading {
    margin: 0 0px 0px 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
  }
  
  .card-svg {
    float: right;
    width: 24px;
    height: 24px;
  }
  
  .sub-cards {
    margin-top: 20px;
  }
  
  .sub-card {
    background-color: #383B42;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .sub-card:hover{
    background-color:#282A2E ;
  }
  .sub-card p{
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .close-svg {
    fill: white;
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease-in-out;
  }
   
  .blur-background {
    filter: blur(5px);
  }
  @media screen and (max-width: 767px) {
    .model {
      width: 70%;
      max-width: 300px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  
    .cards-container {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      width: 100%;
      margin-bottom: 15px;
    }
  }