:root {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #282A2E;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  background-color: #282A2E;
  overflow-y: hidden;
  padding:0px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #f2f4f5;
    background-color: #282A2E;
  }
  a:hover {
    color: #23C69E;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media (max-width: 767px) {
  body {
    overflow-y: auto;
  }
}